*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;

}

.redo {
  display: flex;
  height: 100vh;

  .main-right-side {
    flex: 1;             // Fills the rest of the screen
    display: flex;
    flex-direction: column; // Stacks Nav on top of Content
    align-items: stretch;
    gap: 0px;
  }
}



