*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;

}

.dashboard-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  
  .main-content {
    flex: 1;
    overflow-y: auto;
    background-color: #8B6F5C;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}



